@page "/anagrafica"

@using DatabaseLibrary
@using DatabaseLibrary.Models

@inject DatabaseLibrary.Anagrafica service

<h3>Anagrafica</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @if (anagrafiche != null)
        {
            @foreach (var item in anagrafiche)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Nome</td>
                </tr>
            }
        }
    </tbody>
</table>


<input type="text" @bind="@Nome" @oninput="@((e) => { Nome=(string)e.Value;})" /> 

<button type="submit" class="btn btn-primary" @onclick="InserisciAnagrafica">Inserisci</button>

@code {
    private List<AnagraficaModel> anagrafiche;

    private string Nome { get; set; }

    protected override async Task OnInitializedAsync()
    {
        anagrafiche = await service.Select<AnagraficaModel>();
    }

    private async Task InserisciAnagrafica()
    {
        var p = new AnagraficaModel() { Nome = Nome };

        anagrafiche.Add(await service.Insert(p));
    }
}
